<h1><%= @title %></h1>

<div>
  <form method="post" action="/new">
    <p>
      <input type="date" name="date" min="2014/04/01" />
      に
      <select name="place">
	<% @places.each do |p| %>
	<option><%= p %></option>
	<% end %>
      </select>
      へ行きたい!
    </p>
    <input type="submit" value="追加する" />
  </form>
</div>

<h2>「メシ行こ」リスト (<%= @data.size %>)</h2>
<div>
  <% @data.each do |d| %>
  <div>
    <p>
      <%= d.date %> に <%= d.place %> へ行きたい！ いいね  <span><%= d.like_count %></span>
    </p>
  </div> 
  <% end %>
</div>

<div>
  <h2>なぜ作ったのか</h2>
  <blockquote class="twitter-tweet" lang="ja"><p>今日いち花行きたい人挙手！みたいなシステム作りたい。</p>&mdash; Naoya Otsuka (@otknoy) <a href="https://twitter.com/otknoy/statuses/449805049653248000">2014, 3月 29</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
