<h1><%= @title %></h1>

<div>
  <form method="post" action="/new">
    <p>
      <input type="date" name="date" min="2014/04/01" />
      に
      <select name="place">
	<% @places.each do |p| %>
	<option><%= p %></option>
	<% end %>
      </select>
      へ行きたい!
    </p>
    <input type="submit" value="追加する" />
  </form>
</div>

<h2>メシリスト (<%= @data.size %>)</h2>
<div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <% @data.each do |d| %>
  <form method="post" id="post<%= d.id %>" action="/like">
    <p data-id="<%= d.id %>">
      <%= d.date %>
      に
      <%= d.place %>
      へ行きたい！
      
      <input type="hidden" name="id" value="<%= d.id %>" />
      <input type="submit" onclick="$(this).attr({disabled: true}); $('#post<%= d.id %>').submit()" value="いいね" />
      <span><%= d.like_count %><span>
    </p>
  </form>
  <% end %>
</div>

<div>
  <h2><a href="https://twitter.com/otknoy/statuses/449805049653248000">なぜ作ったのか</a></h2>
</div>
